aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
anyio==4.13.0
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
datasets==4.8.4
dill==0.4.1
evaluate==0.4.6
filelock==3.25.2
frozenlist==1.8.0
fsspec==2026.2.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface==0.0.1
huggingface_hub==1.9.0
idna==3.11
joblib==1.5.3
Levenshtein==0.27.3
lxml==6.0.2
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.7.1
multiprocess==0.70.19
nltk==3.9.4
numpy==2.4.4
packaging==26.0
pandas==3.0.2
portalocker==3.2.0
propcache==0.4.1
pyarrow==23.0.1
Pygments==2.20.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
RapidFuzz==3.14.3
regex==2026.4.4
requests==2.33.1
rich==14.3.3
sacrebleu==2.6.0
shellingham==1.5.4
six==1.17.0
tabulate==0.10.0
tqdm==4.67.3
typer==0.24.1
typing_extensions==4.15.0
urllib3==2.6.3
xxhash==3.6.0
yarl==1.23.0
